# Exclude build directories
target/

# Exclude IDE specific files and folders
.idea
*.iws
*.iml
*.ipr
.vscode/
build/

# Exclude Maven/Gradle wrapper files if not required
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Exclude NetBeans-specific directories
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Include Maven wrapper if needed
!.mvn/wrapper/maven-wrapper.jar
